version: "3.7"

services:
  groceazy-be:
    image: "groceazy-be"
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file: ./.env
    restart: always
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  